<Project ToolsVersion="15.0">
  <!--
		This file is used to control the Uno.CodeGen's compilation in visual studio, and 
		allow for a faster build / test cycle when debugging / testing Uno.CodeGen.
		
		Instructions:
			1) Copy this file and remove the ".sample" extension
			2) Adjust the properties below
			3) Make sure to do a Rebuild, so that nuget restores the proper packages for the new target
	-->

	<PropertyGroup>
		<!-- 
			This property allows the override of the nuget local cache.
			Set it to the version you want to override, used in another app.
		-->
		<!--<NugetOverrideVersion>1.20.0-dev.55</NugetOverrideVersion>-->
	
	</PropertyGroup>
</Project>